
        @media (max-width: 800px) {

.id-card {
 zoom: 100%;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;

}
.izq{
    display: none;
}
.exportBtn{
    position: absolute;
    bottom: 10px;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.exportBtn p{
display: none;
}
.exportBtn i{
    font-size:20px;
}
}